@mixin unbuttonize {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: unset;
  }
}

.container {
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.coffeeMachine {
  max-width: 450px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

/* Start The Base */

.aboveBase {
  width: 83%;
  height: 8px;
  background-color: #0b4a66;
  margin: 0 auto;
  border-radius: 7px 7px 0 0;
}

.base {
  position: relative;
  width: 90%;
  height: 60px;
  margin: 0 auto;
  border-radius: 18px 18px 10px 10px;
  background-color: #0e5f82;
  overflow: hidden;
  padding: 15px 0;
  box-shadow: inset 10px -27px 4px #0b4a66;
}

.base > div:not(.spans) {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #000;
}

.spans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #fff;
  bottom: 10px;
  text-align: center;
}

/* End The Base */

/* Start Content */

.content {
  position: relative;
  width: 80%;
  max-width: 350px;
  height: 200px;
  margin: 0 auto;
  background-color: #b2b2b2;
  box-shadow: inset 7px 0px 0px #a5a5a5;
}

.back {
  width: 77%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #949494;
  transform: translateX(-50%);
  box-shadow: inset 6px 0px 0px #8a8a8a;
}

.muggContainer {
  position: absolute;
  left: 50%;
  bottom: 5px;
}

.muggBase {
  z-index: 1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100px;
  height: 5px;
  background-color: #333;
  border-radius: 10px 10px 0 0;
  transform: translateX(-50%);
}

.press {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.one {
  width: 120px;
  height: 20px;
  background-color: #d7d7d7;
  border-radius: 0 0 60px 60px;
  box-shadow: inset 6px -7px 3px #c8c8c8;
}

.two {
  width: 70px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: -5px;
  background-color: #000;
  border-radius: 0 0 50% 50%;
}

.three {
  width: 10px;
  height: 14px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 0 0 3px 3px;
}

.armContainer {
  position: absolute;
  top: 0;
  right: 7px;
  z-index: -1;
  transform-origin: left;
  &--active {
    animation: pressArmAnimation 1s 2 alternate;
  }
}

@keyframes pressArmAnimation {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 40deg);
  }
}
.five {
  position: absolute;
  top: 23px;
  right: -20px;
  width: 46px;
  height: 6px;
  background-color: #585858;
}
.six {
  position: absolute;
  top: 17px;
  right: -68px;
  width: 51px;
  height: 17px;
  background-color: #000;
  border-radius: 40px;
}

.coffeePouring {
  position: absolute;
  z-index: 5;
  left: calc(50% - 6px / 2);
  bottom: 10px;
  width: 6px;
  margin: 0 auto;
  background-color: #73372c;
  height: 180px;
  transition: transform 0.5s;
  pointer-events: none;

  &--inactive {
    transform-origin: bottom;
    transform: scaleY(0);
  }

  &--active {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
  }
}

/* End Content */

/* Start Head */
.head {
  width: 88%;
  height: 100px;
  margin: 0 auto;
  background-color: #e4e8e9;
  border-radius: 10px;
  position: relative;
  box-shadow: inset 10px 0px 2px #d4d4d4, inset -10px 0px 2px #d4d8d9;
}


.circle {
  @include unbuttonize();
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 7px solid #333;
  background-color: #a9cce2;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: inset 14px 0px 2px 1px #9ebed3;
  &--inactive {
    cursor: default;
  }
  &--active {
    animation: circleAnimation 2s infinite linear;
    &:hover {
      border-color: #555;
    }
  }
  &--inviting {
    animation: borderHighlight 2s infinite ease-in-out;
    transition: all 0.3s ease;
    background-color: #a9cce2;
    
    &:hover {
      border-color: #555;
    }
  }
}

.choice {
  @include unbuttonize();
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #c1c1c1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px #555;

}

.choice1 {
  left: 30px;
  cursor: pointer;
  background-color: #590a0a;
  &--active {
    background-color: #ce1b1b;
    cursor: default;
  }
}
.choice2 {
  left: 60px;
  background-color: #003a00;
  &--active {
    background-color: #00ad00;
  }
}

@media (max-width: 768px) {
  .coffeeMachine {
    transform: scale(0.9);
  }
}

@media (max-width: 480px) {
  .coffeeMachine {
    transform: scale(0.8);
  }
}


@keyframes borderHighlight {
  0% {
    border-color: #333;
  }
  50% {
    border-color: #00ad00;
  }
  100% {
    border-color: #333;
  }
}
