$background-color: #fff;

.container {
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: black;
  padding: 5px;
  align-self: flex-end;
}

.background-image {
  background-image: url("./img.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px; /* adjust this to your needs */
  width: 100%; /* adjust this to your needs */
  position: relative;
}

.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* add any other styles you need for your overlay div */
}

$bottleWidth: 170px;

.bottle {
  position: absolute;
  top: 50px;
  left: calc(50% - $bottleWidth / 2);
  height: 400px;
  width: $bottleWidth;
  clip-path: url(#svg-shape);
}

.cap {
  width: $bottleWidth;
  height: 33px;
  top: 0;
  left: calc(50% - $bottleWidth / 2);
  position: absolute;
  z-index: 1;
  background-color: #8ed5ff;
}

.subcap {
  width: $bottleWidth;
  height: 12px;
  top: 33px;
  left: calc(50% - $bottleWidth / 2);
  position: absolute;
  z-index: 1;
  background-color: #87cbf2;
}

.glass {
  height: 400px;
  width: 170px;
  z-index: 10;
  background-color: #c8f4fe;
}

.milk {
  background-color: #ebe0d7;
  height: 400px;
  background-color: #ebe0d7;
  position: absolute;
  top: calc(33px + 12px + 50px);
  width: $bottleWidth;
}

.sticker {
  width: $bottleWidth;
  height: 84px;
  background-color: #8ed5ff;
  position: absolute;
  top: 220px;
  left: calc(50% - $bottleWidth / 2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  transform: scale(1, 1.3);
  font-weight: 600;
}
