.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px;
}

.modal-content {
  width: 90%;
  max-width: 1000px;
  max-height: 600px;
  background-color: #1b1d23;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.modal-body {
  width: 100%;
  padding: 0px 40px 40px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.close-btn {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
}

// Transition classes
.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.modal-enter .modal-content {
  transform: translateY(20px);
}

.modal-enter-active .modal-content {
  transform: translateY(0);
  transition: transform 300ms;
}

.modal-exit .modal-content {
  transform: translateY(0);
}

.modal-exit-active .modal-content {
  transform: translateY(20px);
  transition: transform 300ms;
}

.modal-content-transition {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}