.creditsTitle {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.creditsSection{
    margin-bottom: 1rem;
}

.creditsContent {
   
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    overflow: auto;
}

.creditsColumns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    flex: 1;


section {
    margin-bottom: 1.5rem;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
}
}

.creditsFooter {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #a0a0a0;
}
